In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
df = pd.read_csv("Resources/lending_data.csv")

# Review the DataFrame
df

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0
...,...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [3]:
# Separate the data into labels and features

# Separate the y variable, the labels

y = df["loan_status"]

# Separate the X variable, the features

X = df.drop(columns='loan_status')

In [5]:
# Review the y variable Series
y.head()

0    0
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [6]:
# Review the X variable DataFrame
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

### Step 3: Split the data into training and testing datasets by using `train_test_split`.

In [7]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [13]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model

model = LogisticRegression(random_state=1)


# Fit the model using training data

model.fit(X_train,y_train)
model.coef_
model.feature_names_in_
model.n_features_in_

7

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [15]:
# Make a prediction using the testing data

preds = model.predict(X_test)
preds

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

### Step 3: Evaluate the model’s performance by doing the following:

* Generate a confusion matrix.

* Print the classification report.

In [17]:
# Generate a confusion matrix for the model
confusion_matrix(y_test, preds)

array([[18663,   102],
       [   56,   563]], dtype=int64)

In [16]:
# Print the classification report for the model
print(classification_report(y_test, preds))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.85      0.91      0.88       619

    accuracy                           0.99     19384
   macro avg       0.92      0.95      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?


**Answer:** 

The purpose of this analysis is to develop a credit risk classification model using supervised machine learning techniques. The model aims to predict whether a loan applicant is likely to default on their loan based on various features provided in the dataset. By accurately classifying loan applicants, the model can assist the company in assessing and managing credit risk effectively.


Accuracy: The model achieves an accuracy of approximately 99%, indicating that it correctly predicts the loan status for the majority of cases in the test dataset.

Precision: Precision for the positive class (loan default) is 85%, implying that out of all instances predicted as loan default, 85% are correctly classified.

Recall: Recall for the positive class is 91%, suggesting that the model identifies 91% of actual loan defaults correctly out of all instances of actual loan defaults in the test dataset.


The model demonstrates high accuracy, precision, and recall rates, indicating its effectiveness in classifying loan applicants into default and non-default categories.
The high accuracy implies that the model performs well in overall prediction.
The precision score suggests that the model is relatively reliable in identifying loan defaults, minimizing false positives.
The recall score indicates that the model effectively captures a significant portion of actual loan defaults, reducing false negatives.
Based on these metrics, I recommend deploying the model for use by the company. Its high accuracy, precision, and recall rates make it a valuable tool for assessing credit risk and making informed decisions regarding loan approvals. By leveraging this model, the company can enhance its ability to identify potential defaulters early in the loan application process, thereby minimizing financial losses and optimizing risk management strategies.
Overall, the results support the adoption of the logistic regression model for credit risk classification purposes. However, continuous monitoring and periodic model evaluation are recommended to ensure its ongoing performance and relevance in a dynamic financial environment.

---